################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Blazor Blogger
/Blazor Blogger/bin
/Blazor Blogger/obj
